.counter{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    color: #4a1f55;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 6px 3px 10px rgb(133, 133, 133);
}

